<table>
  <tr>
    <td><strong>id</strong>: <%=@company["id"] %></td>
  </tr>
  <tr>
    <td><strong>name</strong>: <%=@company["name"]%></td>
  </tr>
  <tr>
    <td><strong>profession</strong>: <%=@company["profession"]%></td>
  </tr>
  </tr>
</table>

<%= link_to "Destroy Company", "/companies/#{@company['id']}", method: :delete %>

